<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Huidige iBeacons: {{ iBeacons.length }}</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let ibeacon of iBeacons">
        <ion-label>
          <h2>{{ ibeacon.name }}</h2>
          <p>{{ ibeacon.id }}</p>
        </ion-label>
        <ion-toggle checked={{ibeacon.inRange}}></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Events:</ion-card-title>
    </ion-card-header>
    <p *ngFor="let event of eventsLog">
      {{event}}
    </p>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Logging:</ion-card-title>
    </ion-card-header>
    <p *ngFor="let log of logging">
      {{log}}
    </p>
  </ion-card>
</ion-content>
